<!doctype html>

<html>

<head>
    <title>Register!</title>
</head>

</html>

{% extends 'first_app/base.html' %}
{% block body_block %}
<div class="container">
    <a href="{% url 'first_app:users' %}">All registered users</a>
</div>
<div class="container">
    <div class="jumbotron">

        {% if registered %}

        <p>You're registerd!</p>

        {% else %}

        <form method="POST" enctype='multipart/form-data'>
            {{ user_form.as_p }}
            {{ extra_form.as_p}}
            {% csrf_token %}
            <input type="Submit" class="btn btn-primary" value='Submit!'>
        </form>

        {% endif %}
    </div>
</div>
{% endblock body_block %}
