<!doctype html>

<html>

<head>
    <title>List of all registered users</title>
</head>

</html>
{% extends 'first_app/base.html' %}
{% load static %}
{% block body_block %}

<div class="container">
    <h1>List of all registered users:</h1>
    {% if users_list %}
    <table class="table">
        <thead class='thead-dark'>
            <tr>
                <th>Picture</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_list %}
            <tr>
                <td>{% if user.profile_pic %}
                    <img src={{ user.profile_pic.url }} width="100" height="100">
                    {% endif %}</td>
                <td>{{ user.user.username }}</td>
                <td>{{ user.user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No registered users yet!</p>
    {% endif %}
</div>
</body>
{% endblock %}
