body{
    background-image: url(https://www.discoverpuertorico.com/sites/default/files/2019-02/crashboat-beach-aguadilla-hero.jpg);
    background-repeat: no-repeat;
}

div{
    background-color: aqua;
    border-width: 12px;
    border-color: black;
    border-style: dotted;
}

span{
    color: red;
    background-color: darkkhaki;
}
