/* all classes with name "divOne" */
.divOne{
    color: darkgoldenrod;
}

/* all classes with name "divTwo */
.divTwo{
    color: aqua;
}

/* all ids with name "solo" */
#solo{
    color: darkmagenta;
    text-decoration: line-through;
}

/* only affects h3 if it's immediately after p */
p + h3{
    color: lightcoral;
}

/* only affects ul if it's immediately after h3 */
h3 + ul{
    border: 5px dashed cyan;
}

/* only affects a if it's inside li */
li a{
    color: red;
}

/* only affects a that has this properties if it's inside li */
li a[href="https://www.google.com"]{
    border: 4px ridge peru;
    color: goldenrod;
}