.grid {
    height: 610px;
    width: 610px;
    margin: auto;
    border: 2px solid black;
}

td {
    border: 2px solid black;
    text-align: center;
    margin: auto;
    font-size: 100px;
    height: 200px;
    width: 200px;
}