body{
    background: #211c35;
    border-top-width: 0px;
    border-bottom-width: 30px;
    border-left-width: 30px;
    border-right-width: 30px;
    border-color: #53ecdf;
    border-style: solid;
    margin: 0px;

    color: white;
    text-align: center;

    font-family: 'Literata', serif;
}

h1{
    font-size: 20px;
}

h2{
    font-size: 15px;
}

#firsth2{
    margin-bottom: 100px;
}

p{
    margin-left: 150px;
    margin-right: 150px;
    font-size: 10px;
}

p + p{
    margin-top: 50px;
}

p + h2{
    margin-top: 20px;
}

form{
    margin-top: 60px;
}

input{
    width: 200px;
}

form p{
    margin-bottom: 0px;
}

#subbutton{
    background: orange;
    border-radius: 15px;
    height: 40px;
    width: 90px;
}