{% extends 'navbar.html' %}
{% block title %}{{author.user.username}}{% endblock title %}

{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">
            <img src={{ author.profile_pic.url }} width="100" height="100" alt="" class='rounded-lg'>
            {{author.user.username}}</h1>
        <p class="lead">{{author.user.email}}</p>
        <hr class="my-2">
    </div>
    {% if edit_form %}
    <div class="jumbotron">
        {% if errors %}
        <div class="alert alert-danger" role="alert">
            Incorrect data provided!
            {% for error in errors%}
            <p>{{error}}</p>
            {% endfor %}
        </div>
        {% endif %}
        <h4>Edit user info</h4>
        <form method="post" enctype='multipart/form-data'>
            {{edit_form.as_p}}
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value='Save!'>
        </form>
    </div>
    {% endif %}
</div>
{% endblock body_block %}
