/*Choose a cool Font Text Scheme*/

body{
    background-color: gray;
}

h1{
  font-family: 'Poiret One', cursive;
  text-align: center;
}

table{
    margin: auto;
    border-spacing: 15px;
}


td{
    width: 100px;
    height: 215px;
}

#one{
    background-color: #1A535C;
}

#two{
    background-color: #4ECDC4;
}

#three{
    background-color: #F7FFF7;
}

#four{
    background-color: #FF6B6B;
}

#five{
    background-color: #FFE66D;
}