<!doctype html>

<html>

<head>
    <title>Register!</title>
</head>

</html>

{% extends 'first_app/base.html' %}
{% block body_block %}
<div class="container">
    <a href="{% url 'first_app:users' %}">All registered users</a>
</div>
<div class="container">
    <div class="jumbotron">
        <form method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="Submit" class="btn btn-primary" value='Submit!'>
        </form>
    </div>
</div>
{% endblock body_block %}
