<!doctype html>

<html>

<head>
    <title>List of all registered users</title>
</head>

</html>

{% extends 'first_app/base.html' %}
{% block body_block %}

<div class="container">
    <h1>List of all registered users:</h1>
    {% if users_list %}
    <table class="table">
        <thead class='thead-dark'>
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users_list %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No registered users yet!</p>
    {% endif %}
</div>
</body>
{% endblock %}
